@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* gray-1 */
  --scrollbar-width: calc(100vw - 100%);
  --body-bg: #f5f5f6;
  --primary-border: rgba(0, 0, 0, 0.23);
  --separator: rgba(207, 207, 211, 0.4);
  --component: #ffffff;
  /* orange-1 */
  /* --primary: rgb(255, 82, 0); */
  /* --button-bg-primary: rgb(255, 82, 0); */
  --primary: rgb(0, 0, 0);
  --button-bg-primary: rgb(0, 0, 0);
  --button-bg-default: #f2f2f4;
  /* gray-5 */
  --icon-base: #999999;

  /* blue */
  --blue-primary: #1589ff;
  --icon-active: rgb(21, 137, 255);
  /* gray-4 */
  --icon-disabled: #cfcfd3;
  --type-color-primary: rgba(0, 0, 0, 0.8);
  --type-color-secondary: rgba(0, 0, 0, 0.68);
  --table-header: #8c8c90;
  --tab-bg: #f2f2f4; /*gray-1*/

  --blue: rgb(21, 137, 255);
  /* Needs to be tokenized to theme namespace in tailwind.config.js */
  --gray-1: #f2f2f4;
  --gray-2: #dbdbdf;
  --gray-3: #b3b3b7;
  --gray-4: #8c8c90;
  --gray-5: #77777b;
  --gray-6: #55565a;
  --gray-7: #414144;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: var(--body-bg);
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
button:focus-visible,
a:focus-visible,
div:focus-visible {
  outline: none;
  border: 1px solid var(--blue-primary);
}

input:disabled,
textarea:disabled,
select:disabled,
button:disabled,
a:disabled,
div:disabled {
  cursor: default;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 10px; /* width of the vertical scrollbar */
  height: 10px; /* width of the vertical scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8c8c90;
  border-radius: 5px;
}
